<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <!--font added-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Average&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Antonio:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/lai3hcf.css">


  <title>SOUTH HOLD CONTRACTING</title>
  <link rel="icon" type="image/png" href="../assets/favicon.png">

  <!--Template main css-->
  <link rel="stylesheet" href="./style.css">
<style>
  main {
    background-color: white;
  }

  .dropdown-item:hover{
    color:black;
    background-color:transparent;
  }
  .dropdown-item {
    color:black;
  }
  .navbar {
    margin-top:25px;
  }
  @media (320px <= width <= 991px ) {
    .offcanvas-body a {
      color:white;
    }
    .dropdown-item {
    color:white;
    }
  }


  .container .lets-header {
    color:black;
    font-family:Average,sans-serif,serif;
  }
  .container .lets-button {
    background-color:white;
    border:1px solid black;
    color:black;
    font-size:1.3em;
    font-weight:light;
    padding:10px 20px 10px 20px;
    margin:20px 0px 20px 0px;
    transition:ease-in-out 0.3s;
  }
  .container .lets-button:hover {
    background-color:black;
    color:white;
  }
  @media (320px <= width <= 450px ) {
    }

.contact-map {
  background-color:black;
  height:40vh;
  width:40vh;
}

.iframe-container {
  display: block;
}

.map-iframe {
  display: show;
}

@media (min-width: 992px) {
  .iframe-container {
    display: show;
  }

  .map-iframe {
    display: block;
  }
}

.content {
  display:flex;
  flex-direction:column;
  width:80%;
  float:right;
  margin:0;
  padding:0;
}
.map-iframe{
  width:80%;
  height:40vh;
  float:right;
}
@media (320px <= width <= 991px ) {
  .content {
    width:100%;
    float:none;
    margin:0;
    padding:0;
  }
  .map-iframe{
    width:100%;
    height:60vh;
    float:none;
  }
  .iframe-container{
    margin-top:4rem;
    text-align:center;
  }
 }
 .lets {
  margin-top:7rem;
  margin-bottom:5rem;
 }
 .content2 .p2  {
  font-size:0.9em;
  font-family:'poppins',sans-serif,serif;
  color:#7F7F7F;
 }
 .content2 p {
  font-size:1.2em;
 }
 .get {
  font-family:'Average',sans-serif,serif;
 }
.content p{
  font-family:'poppins',sans-serif,serif;
  letter-spacing:0.1em;
  color:#7F7F7F;
}
.content .p3{
  color:black;
  font-family:average,sans-serif,serif;
}
.lets-button {
  border:1px solid black;
  border-radius:0px;
}
a {
  text-decoration:none;
  color:black;

}
a:hover {
  text-decoration:none;
  color:black
}
    </style>
    
    </head>

    <body>
      <main class="pt-5 pb-2">
        <!--nav bar-->
        <nav class="navbar navbar-expand-lg text-black navbar-white bg-white">
          <div class="container">
            <!--logo-->
            <a class="navbar-brand" href="../index.html"><img class="logo" src="../assets/logo.webp"></a>
            <!--toggle button-->
            <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--nav bar sidebar-->
            <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <!--side bar header-->
              <div class="offcanvas-header text-white border-bottom">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img class="logo" src="../assets/logo1.webp"></h5>
                <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              </div>
              <!--side bar body-->
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                  <li class="nav-item mx-2">
                    <a class="nav-link " aria-current="page" href="../index.html">HOME</a>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="./about.html">ABOUT</a>
                  </li>
                  <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="./services.html"  aria-expanded="false">
                      SERVICES
                    </a>
                    <ul class="dropdown-menu bg-transparent ">
                      <li class="dropdown-item" href=""><a href="./services/civil.html">CIVIL WORKS</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/electrical.html">ELECTRICAL WORKS</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/plumbing.html">PLUMBING WORKS</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/mechanical.html">MECHANICAL WORKS</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/design.html">BUILDING DESIGN</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/authority.html">AUTHORITY APPROVAL</a></li>
                      <li class="dropdown-item" href="#"><a href="./services/interior.html">INTERIOR DESIGN</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown mx-2">
                    <a class="nav-link dropdown-toggle" href="./projects.html"  aria-expanded="false">
                      PROJECTS
                    </a>
                    <ul class="dropdown-menu bg-transparent ">
                      <li class="dropdown-item" href="#"><a href="./projects/commercial-fitout.html">COMMERCIAL FITOUT</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/itc-office.html">ITC LIMITED</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/office-remodeling.html">CANTEEN FITOUT</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/c-r.html">PULIANTHOPE PROJECT</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/office.html">OFFICE FITOUT</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/aluminium.html">MODULAR KITCHEN</a></li>
                      <li class="dropdown-item" href="#"><a href="./projects/residential-building.html">SHOLAVARAM PROJECT</a></li>
                    </ul>
                  </li>
                  <li class="nav-item mx-2">
                    <a class="nav-link" href="./contact.html">CONTACT US</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      <!--nav bar ends here-->


    







        <div class="container my-5 pt-5">
          <h1 class="get my-3">GET IN TOUCH</h1>
          <div class="content2">
          <p class="m-0 p-0 p1">PHONE: 9342619916 | <span style="font-size:0.9em;">EMAIL: info@southhold.co.in</span> </p>
          <p class="my-2 p-0 p2">Unleash creativity: Connect with us via email or the form below to transform your ideas into captivating designs.</p>
          </div>
          <div class="row my-5">
            <!-- Contact Form -->
            <div class="col-lg-6">
              <form class="row g-3" action="https://formspree.io/f/moqoolle" method="POST">
                <div class="col-md-6">
                  <label for="firstname" class="form-label">First Name</label>
                  <input type="text" name="FirstName" class="form-control" id="firstname" placeholder="First Name" required>
                </div>
                <div class="col-md-6">
                  <label for="lastname" class="form-label">Last Name</label>
                  <input type="text" name="SecondName" class="form-control" id="lastname" placeholder="Last Name" required>
                </div>
                <div class="col-md-6">
                  <label for="emailinfo" class="form-label" id="emailinfo">Email <span>(required)</span></label>
                  <input type="email" name="Email" class="form-control" id="emailinfo" placeholder="Email" required>
                </div>
                <div class="col-md-6">
                  <label for="phone" class="form-label">Phone Number <span>(required)</span></label>
                  <input type="text" name="PhoneNumber" class="form-control" id="phoneNumber" placeholder="+1 (415) 867-5309" required>
                </div>
                <div class="col-md-8">
                  <label for="subject" class="form-label" id="subject">Subject <span>(required)</span></label>
                  <input type="text" name="Subject" class="form-control" id="subject" placeholder="Subject" required>
                </div>
                <div class="col-md-12">
                  <label for="message" class="form-label">Tell us about your project <span>(required)</span></label>
                  <textarea class="form-control" name="Tell us about your project" id="message" rows="3" placeholder="" required></textarea>
                </div>
                <div class="col-md-12">
                  <button type="submit" class="btn lets-button">Submit</button>
                </div>
              </form>
            </div>
      
            <!-- Combined iframe container -->
            <div class="col-lg-6 iframe-container">
              <div class="container content">
                <p class="p3">OUR OFFICE</p>
                <p>No.168, Erukencherry High Road,<br/> Cholan Nagar, Chennai - 600 039</p>
              </div>
              <div class="col-12">
                <iframe class="map-iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3885.6512367045607!2d80.2507378755259!3d13.12126681157837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a52652589734889%3A0xce25771e655ade90!2sBUILDING%20PLANNER%20%26%20CONTRACTOR!5e0!3m2!1sen!2sin!4v1699814746654!5m2!1sen!2sin&amp;output=embed&amp;iwloc=near&amp;z=15" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                  referrerpolicy="no-referrer-when-downgrade">
                </iframe>  
              </div>
            </div>
          </div>
        </div>
        
        
    


      <div class="container lets my-5 py-5 text-center">
        <p class="col lets-header fs-1">Let's take a moment to view Our Projects</p>
        <button class="col lets-button" onclick="window.location.href='./projects.html'">Browse Our Projects</button>
      </div>
</main>

<!--footer starts here-->

<footer class="py-3 px-0 mt-3 bg-black">
  <div class="row icons">
    <a class="col" href="https://www.facebook.com/profile.php?id=100081990979710"><i class="fa bi bi-facebook"></i></a>
    <a class="col" href="https://www.instagram.com/south.hold/"><i class="fa bi bi-instagram"></i></a> 
    <a  class="col" href="https://www.linkedin.com"><i class="fa bi bi-linkedin"></i></a>
    <a class="col" href="https://www.twitter.com"><i class="fa bi bi-twitter"></i></a> 
  </div>
   
  <ul class="nav justify-content-center pb-2 mb-1" style="font-size:0.8em; letter-spacing:0.1em;">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">9342619916</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">|</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">info@southhold.co.in</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">|</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-white footer2 fw-light">168 ERUKENCHERRY HIGH RD. CHENNAI - 600 069 </a></li>
  </ul>

 
  <ul class="nav justify-content-center  pb-2 mb-1" style="font-size:0.8em; letter-spacing:0.1em;">
    <li class="nav-item"><a href="../index.html" class="nav-link px-2 text-white footer1 fw-light">HOME</a></li>
    <li class="nav-item"><a href="./about.html" class="nav-link px-2 text-white footer1 fw-light">ABOUT</a></li>
    <li class="nav-item"><a href="./services.html" class="nav-link px-2 text-white footer1 fw-light">SERVICES</a></li>
    <li class="nav-item"><a href="./projects.html" class="nav-link px-2 text-white footer1 fw-light">PROJECT</a></li>
    <li class="nav-item"><a href="./contact.html" class="nav-link px-2 text-white footer1 fw-light">CONTACT US</a></li>
  </ul>
  <p class="text-center text-white fw-lighter p-1 mb-1 footer3" style="font-size:0.6em; letter-spacing:0.1em;">© 2023 SOUTH HOLD CONTRACTING. All Rights Reserved.</p>
</footer>
</main>
<!--footer ends here-->

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const phoneInput = document.getElementById('phoneNumber');
  
    phoneInput.addEventListener('input', function() {
      const phoneNumber = phoneInput.value;
      // Regular expression to allow any number of digits
      const phonePattern = /^\d+$/;
  
      if (!phonePattern.test(phoneNumber)) {
        phoneInput.setCustomValidity('Please enter a valid phone number');
      } else {
        phoneInput.setCustomValidity('');
      }
    });
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>

