@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap');
* {
  font-family:'Aboreto','Antonio','Average','Nunito','poppins',system-ui, '-apple-system', 'BlinkMacSystemFont', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


section {
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}


#home {
  background-image: url('../assets/img1.webp');
  padding-top:25px;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  height:105vh;
  transition:background-image 0.9s ease-in-out;
 


}
#about {
  background-image: url('../assets/architectural.webp');
} 

#hero3 {
  background-color:white;
  color:black;
  height:auto;

}

body {
  background-color:black;
}

*>#home{
  margin-top:-75px;
}

nav {
  margin-top:75px;
}

/* nav bar starts from here and its media queries */
.dropdown-toggle::after {
  display: none;
}




.dropdown-menu {
  background-color:transparent;
  border:none;
  cursor:pointer;
}
.dropdown-item {
  color:white;
  opacity:0.7;
}
.dropdown-item:hover{
  color:white;
  background-color:transparent;
  opacity:0.5;
}

@media (max-width: 991px){
  .sidebar{
  background-color: rgba(255,255,255,0.15);
  backdrop-filter:blur(5px);
  }
  
}
.hero {
  font-size:1.5em;
  font-weight:bold;
  font-family:average, sans-serif,serif;

}
.hero span {
  font-weight:bold;
  font-family:average, sans-serif,serif;
}


@media screen and (min-width:991px) {
  .dropdown .dropdown-menu.show {
    display:none !important;

  }
  .dropdown:hover .dropdown-menu {
    display:block !important;
    transition:ease-in-out 0.3s;
  }
  .dropdown:focus .dropdown-menu {
    display:block !important;

  }

  .hero {
    font-size:1.5em;
    font-weight:bold;
    font-family:average, sans-serif,serif;

  }
  .hero span {
    font-weight:bold;
    font-family:average, sans-serif,serif;
  }
  .known-more {
    font-size:1em;
  }
}

.offcanvas-body .nav-link:hover { 
  transition-timing-function: ease-in-out 0.15s;
}

/* nav bar ends here */


/* footer start here footer all media queries */

  
  footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0px 0px 20px;
  width: 100%;
  }
  
  footer .bi {
  font-size: 20px;
  color:white;
  margin: 0 10px;
  
  }
  
  footer a {
  text-decoration: none;
  color: white;
  transition:ease-in-out 0.3s;
  }
  
  footer a:hover {
  opacity:0.7;
  }
  
  footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
  .icons {
  padding-bottom:20px;
  
  }

  
  .c {
  font-size:12px;
  font-weight:lighter;
  }
  
  @media( 320px <= width <= 425px) {
    .footer1 {
     font-size:9px;
     font-weight:600;
     margin-right:0px;
     margin-left:0px;
    }
    .footer2 {
      font-size:10px;
    }
  }

  /* footer end here */
  
  /* main page start here */

  .hero {
    color:white;
    
  }
  .known-more {
    margin-top:0px;
    color:white;
    text-align: center;
    font-size:20px;
    background-color:transparent;
    opacity:0.6;
    padding:10px 10px 10px 10px;
    border:none;
    letter-spacing:0.1em;
    transition:ease-in-out 0.3s; 
  }
  .known-more:hover {
    opacity:0.9;
    backdrop-filter:blur(5px);
  }
  .known-more:active {
    opacity:0.5
  }
  
  .hero2 {
    height:500px;
    background-color:white;

  }
  .hero2 h1 {
    font-family:average, sans-serif,serif;
  }
  .hero2 p {
    font-family:poppins, sans-serif,serif;
    font-size:1rem;
  }

  .aboutus {
    background-color:white;
    color:black;
    padding:10px 20px 10px 20px;
    border:#000;
    border-width:2px;
    border-style:solid;
    letter-spacing: 0.1em;
    border-radius:none;
    transition:ease-in-out 0.3s;
  }
  .aboutus:hover {
    background-color:black;
    color:white;
  }

  @media( 375px <= width <= 700px ) {
     .hero { 
      font-size:1em;
      font-weight:bold;
    }
    .hero2 {
      height:700px;
    }
  }


  .offcanvas-body .nav-link { 
    font-size:1em;
    opacity:0.9;
    text-decoration: none;
  }
  .dropdown-item {
    font-size:0.8em;
    opacity:0.9;
    text-decoration: none;
  }



a {
  text-decoration:none;
  color:white;

}
a:hover {
  text-decoration:none;
  color:white;
}




.projects-container .row .col {
  background-color:black;
  height:30vh;
  width:40vh;
  color:white;
}

.projects-container .row {
  gap:1em;
}

.hovering:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.main {
  background-color:white;
}

.container .lets-header {
  color:black;
  font-family:Average,sans-serif,serif;
}
.container .lets-button {
  background-color:white;
  border:1px solid black;
  color:black;
  font-size:1.3em;
  font-weight:light;
  padding:10px 20px 10px 20px;
  margin:20px 0px 20px 0px;
  transition:ease-in-out 0.3s;
  height:auto;
  width:auto;
}
.container .lets-button:hover {
  background-color:black;
  color:white;
}


@media (300px <= width <= 991px) {
  #hero3 {
    height:auto;
  }
  .hero2 {
    height:auto;
  }
}

.hovering a{
  display:none;
  
}
.hovering {
  transition:display 0.3s ease-in-out ;
}
.hovering:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition:box-shadow 0.3s ease-in-out ;
}

.hovering:hover a{
  display:block;
  letter-spacing:0.1em;
  font-size:2em;
  font-family:Antonio, sans-serif, serif;
  font-weight:500;
  transition:display 0.3s ease-in-out ;
}

.navbar .container>.navbar-brand {
  font-family:asul, sans-serif,serif;
  letter-spacing:0.1em;
  margin-left:10px;
  font-weight:700;
}
.navbar .container .offcanvas-header>.offcanvas-title {
  font-family:asul, sans-serif,serif;
  font-weight:700;
}
.navbar .container .nav-link {
  font-family:asul, Times, serif;
  letter-spacing:0.1em;
  font-weight:400;
}
.navbar .container .dropdown-item>a{
  font-family:asul, Times, serif;
  letter-spacing:0.1em;
  font-weight:400;
  opacity:0.9;
  font-weight:400;
  margin-left:20px;
  font-size:0.9em;
}

@media (300px <= width <= 991px ) {
.hovering a{
  display:block;
  letter-spacing:0.1em;
  font-size:2em;
  font-family:antonio, sans-serif, serif;
  font-weight:700;
  transition:display 0.3s ease-in-out ;
}
.known-more{
  opacity:0.9;
  backdrop-filter:blur(7px);
}
.navbar .container>.navbar-brand {
  font-family:asul, sans-serif,serif;
  letter-spacing:0.1em;
  margin-left:5px;
  font-weight:700;
  font-size:1em;
}
.navbar .container .offcanvas-header>.offcanvas-title {
  font-family:asul, sans-serif,serif;
  font-size:0.9em;
  letter-spacing:0.1em;
  font-weight:700;
}
}
.logo {
  height:7em;
  margin-top:1.2em;
  }
  
  .navbar-toggler {
    padding:0px 0px 0px 0px;
  
  }
  

@media (320px <= width <= 374px) {
  .navbar .container>.navbar-brand {
    font-family:asul, sans-serif,serif;
    font-size:0.9rem;
    font-weight:900;
    margin:0;

  }
  .navbar-toggler {
    font-size:20px;
  }
  .navbar .container .offcanvas-header>.offcanvas-title {
    font-family:asul, sans-serif,serif;
    font-size:0.9em;
    letter-spacing:0.1em;
    font-weight:700;
  }
  .navbar .container .nav-link {
    font-family:asul, Times, serif;
    letter-spacing:0.1em;
    font-weight:400;
  }
  .hero {
    font-size:1em;
    font-weight:bold;
    font-family:average, sans-serif,serif;
  }
  .about>.row>.col>h1{
    font-size:1.5em;
    margin-top:1.5em;
  }
  .logo {
    height:6.2em;
    margin-top:1em;
    }
    .navbar-toggler {
      padding:0.3em;
    }
}

@media (375px <= width <= 425px) {  
  .logo {
    height:6.1em;
    margin-top:1em;
    }
    .navbar-toggler {
      padding:0.5em;
    }
}

